body{
    background: linear-gradient(to right, #daf1ee, #c3d7d9);
    display: flex;
    justify-content: center;
     height: 100vh;
}

/* Nome perfil E Settings*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');


/* analisando */



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


/* Configuração */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
