.card {
    background-color: #f5f5f5;
    width: 380px;
    height: 600px;
    border-radius: 35px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.informacoes_perfil {
    text-align: center;
    padding: 20px;
}

.informacoes_perfil img{
    width: 65%;
    border-radius: 50%;
}

.informacoes_perfil .seta_retorno{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 20px;
    opacity: 70%;
    cursor: pointer;
}

.informacoes_perfil h1 {
    font-size: 30px;
    color: #423535;
    padding-top: 5px;
   
}

.informacoes_perfil .localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    margin: 5px;
}

.informacoes_perfil .localizacao i {
    color: lightgray;
    padding-right: 5px;
    font-size: 8px;
}

.informacoes_perfil .localizacao h2 {
    font-family: 'Roboto Slab', serif;
    color: lightgray;
    font-size: 10px;
}

.informacoes_perfil .profissao {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #423535;
    font-size: 14px;
    opacity: 90%;
}

.botao_upgrade {
    width: 230px;
    height: 40px;
    border-radius: 50px;
    background-color: #e75c96;
    border: none;
}

.botao_upgrade a {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.settings {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 35px;
    padding: 30px;
    height: 70%;
    box-shadow: 0px -1px 30px  rgba(0, 0, 0, 0.2);
}

.settings .titulo_settings {
    color: #363636;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding-bottom: 10px;
}

.grupo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.grupo1, .grupo2, .grupo3 {
    padding-bottom: 10px;
}

.area-de-acesso {
    display: flex;
    align-items: center;
}

.area-de-acesso h2 {
    color: lightgray;
    padding-right: 5px;
    font-size: 15px;
}

.tipo-de-configuracao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.tipo-de-configuracao i {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
    font-size: 14px;
}

.grupo1 i{
    background-color: #313131;
}

.grupo2 i{
    background-color: #e75c96;
}

.grupo3 i{
    background-color:#7cd4b0;
}

.tipo-de-configuracao h2 {
    font-size: 14px;
    color: gray;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.settings .seta{
    width: 10px;
    height: 10px;
}

.btn{
    width: 40px;
    height: 20px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    background-color: lightgray;
}

.btn:before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: left .5s;
}

.card.ativo, .cabecalho.ativo, .settings.ativo{
    background: #000;
}

.cabecalho.ativo .seta_retorno, .settings.ativo .seta{
   background-color: #04D361;
   border-radius: 50%;
   height: 15px;
   width: 15px;
}

.card.ativo h1, .card.ativo h2{
    color: white;
}

.cabecalho.ativo .botao_upgrade{
    background-color: #04D361;
}

.btn.ativo:before{
    left: 20px;
}